<html>
  <head>
    <meta charset="utf-8">

    <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js"></script>
    <link rel="stylesheet" href="/assets/topBanner.css">

        <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
        <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/assets/home.css">
    <link rel="stylesheet" href="/assets/overlay.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title></title>
    <style>


        body {
          background: black;
        }

        #map {
          height:92vh;
        }

        a:link, a:visited {
            color: #2aaef5;
            outline: none;
            text-decoration: none;
        }

        .landmark {
            width: 250px;
            padding: 7px 0 0 0;
            background: rgba(247, 247, 247, 0.9);
            border-radius: 5px;
            box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.29);
            font-family: Helvetica, Arial, sans-serif;
            -webkit-transform-origin: 0 10px;
            transform-origin: 0 10px;
        }

        .landmark h1 {
            margin-top: 0;
            padding: 5px 15px;
            background: #2aaef5;
            color: rgba(255, 255, 255, 0.9);
            font-weight: 300;
        }

        .landmark section {
            padding: 0 15px 5px;
        }

        .landmark h1 {
          font-size: 2.5vh;
        }

        .landmark section p {
            margin: 5px 0;
        }

        .landmark:after {
            content: "";
            position: absolute;
            top: 7px;
            left: -13px;
            width: 0;
            height: 0;
            margin-bottom: -13px;
            border-right: 13px solid #2aaef5;
            border-top: 13px solid rgba(0, 0, 0, 0);
            border-bottom: 13px solid rgba(0, 0, 0, 0);
        }

        @-webkit-keyframes scale-and-fadein {
            0% {
                -webkit-transform: scale(0.2);
                opacity: 0;
            }

            100% {
                -webkit-transform: scale(1);
                opacity: 1;
            }
        }

        @keyframes scale-and-fadein {
            0% {
                transform: scale(0.2);
                opacity: 0;
            }

            100% {
                transform: scale(1);
                opacity: 1;
            }
        }

    </style>

  </head>


  <section class="homeBanner" style="position:fixed; z-index: 1000">

    <div id="homeTextAlign">

      <a class=" homeaTag" href="/">Home</a>      <a class=" homeaTag" href="/metaSearch">Search Day In Past</a>

    </div>
  </section>
  <section style="padding-top:8vh;">
          <div class="jumbotron labelInfo infoLabelClass">

            <div class="container">

              <span class="clickHere">
                <span class="glyphicon glyphicon-chevron-left "></span>

              </span>
              <span class="whenSmallInfo">
                <h2 class="irrelevantText">Ranges <small><%=date%></small> </h2>
                <p class="irrelevantText"> Select Sites And Ranges to See Conditions. Expand To See How It Works</p>
                <h3>Possible Algae Bloom Sites:</h3>
                <% if (possibleBlooms.length == 0){%>
                  <p>None</p>
                <%} else {%>
                  <%for (var i = 0; i < possibleBlooms.length; i++) {%>

                    <form  action="/date<%=possibleBlooms[i]%>" method="post">
                      <textarea class='invisibleForm' name="date" rows="8" cols="80"><%=date%></textarea>
                      <button class="weirdButton" type="submit" name="button"><%=possibleBlooms[i]%></button>
                    </form>

                  <%}%>
                <%}%>
                <h3>Conditions On <%=date%>:</h3>
                <div class="panel-group" id="accordion">

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><div style="text-align:center;">  IRL-SB</div>   </a>
                      </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                      <div class="panel-body">

                        <section>
                           Nitrate Level : <%=infoArray.SBinfo.nitrateLevel%> <br>
                           Saline Level : <%=infoArray.SBinfo.salineLevel%><br>
                           Temperature : <%=infoArray.SBinfo.tempLevel%><br>
                           <form  action="/dateSB" method="post">
                             <textarea class='invisibleForm' name="date" rows="8" cols="80"><%=date%></textarea>
                             <button class="weirdButton" type="submit" name="button">Click Here For More Info</button>
                           </form>


                        </section>

                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><div style="text-align:center;">  IRL-VB</div></a>
                      </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                      <div class="panel-body">
                        <section>
                          Nitrate Level : <%=infoArray.VBinfo.nitrateLevel%> <br>
                          Saline Level : <%=infoArray.VBinfo.salineLevel%><br>
                          Temperature : <%=infoArray.VBinfo.tempLevel%><br>
                          <form  action="/dateVB" method="post">
                            <textarea class='invisibleForm' name="date" rows="8" cols="80"><%=date%></textarea>
                            <button class="weirdButton" type="submit" name="button">Click Here For More Info</button>
                          </form>



                        </section>
                      </div>
                    </div>
                  </div>


                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><div style="text-align:center;">  IRL-LP</div></a>
                      </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                      <div class="panel-body">
                        <section>
                          Nitrate Level : <%=infoArray.LPinfo.nitrateLevel%> <br>
                          Saline Level : <%=infoArray.LPinfo.salineLevel%><br>
                          Temperature : <%=infoArray.LPinfo.tempLevel%><br>

                          <form  action="/date" method="post">
                            <textarea class='invisibleForm' name="date" rows="8" cols="80"><%=date%></textarea>
                            <button class="weirdButton" type="submit" name="button">Click Here For More Info</button>
                          </form>


                        </section>
                    </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"><div style="text-align:center;">  IRL-FP</div></a>
                      </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                      <div class="panel-body">
                        <section>
                          Nitrate Level : <%=infoArray.FPinfo.nitrateLevel%> <br>
                          Saline Level : <%=infoArray.FPinfo.salineLevel%><br>
                          Temperature : <%=infoArray.FPinfo.tempLevel%><br>
                          <form  action="/dateFP" method="post">
                            <textarea class='invisibleForm' name="date" rows="8" cols="80"><%=date%></textarea>
                            <button class="weirdButton" type="submit" name="button">Click Here For More Info</button>
                          </form>

                        </section>
                    </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5"><div style="text-align:center;">  IRL-JB</div></a>
                      </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                      <div class="panel-body">
                        <section>
                          Nitrate Level : <%=infoArray.JBinfo.nitrateLevel%> <br>
                          Saline Level : <%=infoArray.JBinfo.salineLevel%><br>
                          Temperature : <%=infoArray.JBinfo.tempLevel%><br>
                          <form  action="/dateJB" method="post">
                            <textarea class='invisibleForm' name="date" rows="8" cols="80"><%=date%></textarea>
                            <button class="weirdButton" type="submit" name="button">Click Here For More Info</button>
                          </form>

                        </section>
                    </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6"><div style="text-align:center;">  IRL-SLE</div></a>
                      </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse">
                      <div class="panel-body">
                        <section>
                          Nitrate Level : <%=infoArray.SLEinfo.nitrateLevel%> <br>
                          Saline Level : <%=infoArray.SLEinfo.salineLevel%><br>
                          Temperature : <%=infoArray.SLEinfo.tempLevel%><br>
                          <form  action="/dateSLE" method="post">
                            <textarea class='invisibleForm' name="date" rows="8" cols="80"><%=date%></textarea>
                            <button class="weirdButton" type="submit" name="button">Click Here For More Info</button>
                          </form>

                        </section>
                    </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7"><div style="text-align:center;">  SLE-NF</div></a>
                      </h4>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse">
                      <div class="panel-body">
                        <section>
                          Nitrate Level : <%=infoArray.NFinfo.nitrateLevel%> <br>
                          Saline Level : <%=infoArray.NFinfo.salineLevel%><br>
                          Temperature : <%=infoArray.NFinfo.tempLevel%><br>
                          <form  action="/dateNF" method="post">
                            <textarea class='invisibleForm' name="date" rows="8" cols="80"><%=date%></textarea>
                            <button class="weirdButton" type="submit" name="button">Click Here For More Info</button>
                          </form>

                        </section>
                    </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8"><div style="text-align:center;">  SLE-ME</div></a>
                      </h4>
                    </div>
                    <div id="collapse8" class="panel-collapse collapse">
                      <div class="panel-body">
                        <section>
                          Nitrate Level : <%=infoArray.MEinfo.nitrateLevel%> <br>
                          Saline Level : <%=infoArray.MEinfo.salineLevel%><br>
                          Temperature : <%=infoArray.MEinfo.tempLevel%><br>
                          <form  action="/dateME" method="post">
                            <textarea class='invisibleForm' name="date" rows="8" cols="80"><%=date%></textarea>
                            <button class="weirdButton" type="submit" name="button">Click Here For More Info</button>
                          </form>

                        </section>
                    </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse9"><div style="text-align:center;">  SLE-SF</div></a>
                      </h4>
                    </div>
                    <div id="collapse9" class="panel-collapse collapse">
                      <div class="panel-body">
                        <section>
                          Nitrate Level : <%=infoArray.SFinfo.nitrateLevel%> <br>
                          Saline Level : <%=infoArray.SFinfo.salineLevel%><br>
                          Temperature : <%=infoArray.SFinfo.tempLevel%><br>
                          <form  action="/dateSF" method="post">
                            <textarea class='invisibleForm' name="date" rows="8" cols="80"><%=date%></textarea>
                            <button class="weirdButton" type="submit" name="button">Click Here For More Info</button>
                          </form>

                        </section>
                    </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse10"><div style="text-align:center;">  SLE-SF2</div></a>
                      </h4>
                    </div>
                    <div id="collapse10" class="panel-collapse collapse">
                      <div class="panel-body">
                        <section>
                          Nitrate Level : <%=infoArray.SF2info.nitrateLevel%> <br>
                          Saline Level : <%=infoArray.SF2info.salineLevel%><br>
                          Temperature : <%=infoArray.SF2info.tempLevel%><br>
                          <form  action="/dateSF2" method="post">
                            <textarea class='invisibleForm' name="date" rows="8" cols="80"><%=date%></textarea>
                            <button class="weirdButton" type="submit" name="button">Click Here For More Info</button>
                          </form>

                        </section>
                    </div>
                    </div>
                  </div>



                </div>




              </span>
            </div>

            <section class="container expandedLabelInfo">
              <div class="goBack">
                <span id="hello" class="glyphicon glyphicon-chevron-right "></span>
              </div>

              <h2>Range Predictions <small>How It Works</small> </h2>
                <p>This program has been designed to predict algae blooms at any site in the Indian River Lagoon ansd St. Lucie Estuary where a Harbor Branch LOBO is present. Running the data from each site (three weeks of data) through our unique algorithm, a chance of an algae bloom can be determined.</p>
              <p> For example, Site A and Site B may may both have an algae bloom. If the area in-between Site A and B has no distinguishable varariables (runoff sites, farms, etc), it stands to reason that the area between Site A and B has an algae bloom. Similiarly, if Site C and Site D both do not have an algae bloom, it stands to reason that there is no algae bloom between the two sites. </p>
              <br> <br> <br>
            </section>
          </div>
        </section>


  <body>
    <div id="map" class="map mapWidth80"></div>
    <div class="overMap">
      <span class="glyphicon glyphicon-remove removeKey"></span>
       <p class="overMapText">   Green: No Algae Bloom; <br>Yellow: Uncertain Bloom;<br> Red: Possible Bloom       <span class="glyphicon glyphicon-question-sign"></span> </p>

    </div>

    <div class="overMap2">
      <span class="glyphicon glyphicon-remove removeOther"></span>
       <p class="overMapText"> Remember To Check Site SF2</p>

    </div>

    <div class="colors">
      <div id="SBToVBChunk1"><%=colorArray[0].SBToVB.SBToVBChunk1%></div>
      <div id="VBToLPcolor"><%=colorArray[1].VBToLP.VBToLPcolor%></div>
      <div id="LPToFPcolor"><%=colorArray[2].LPToFP.LPToFPcolor%></div>
      <div id="FPToJBcolor"><%=colorArray[3].FPToJB.FPToJBcolor%></div>
      <div id="JBToSLEcolor"><%=colorArray[4].JBToSLE.JBToSLEcolor%></div>
      <div id="leftOfMEcolor"><%=colorArray[5].leftOfME.leftOfMEcolor%></div>
      <div id="topOfNFcolor"><%=colorArray[6].topOfNF.topOfNFcolor%></div>
      <div id="aroundSFcolor"><%=colorArray[7].aroundSF.aroundSFcolor%></div>
      <div id="SFToNFcolor"><%=colorArray[8].SFToNF.SFToNFcolor%></div>
      <div id="METoBordercolor"><%=colorArray[9].METoBorder.METoBordercolor%></div>
      <div id="aroundSF2color"><%=colorArray[10].aroundSF2.aroundSF2color%></div>



    </div>

   <script>




    mapkit.init({
        authorizationCallback: function(done) {
            done('eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IjhQTTJVTjc2V0MifQ.eyJpc3MiOiJCOUo1V0tSNlhBIiwiaWF0IjoxNTQyNzQ5OTc4LCJleHAiOjYxNTQyNzQ5OTc4fQ.6LXmaFeExklrLPCm-Q4j7jwUVs3peVp_X9bT0QnPQs4DiHY0q_3WaigziU43LoUyfvd6ZnS4cX_ikQfotg7vNQ');
        }
    });
    var sanFranciscoLandmarks = [
        { coordinate: new mapkit.Coordinate(27.53500000, -80.34217888888889), title: "IRL-LP",url: "/lpdata", website: "/search", newData: '/lp', create: "/createLP", delete: "/deleteLP"},
        { coordinate: new mapkit.Coordinate(27.475569444444442, -80.3266), title: "IRL-FP", url: "/fpdata",  website: "/searchForSiteFP", newData: "/fp", create: "/createFP", delete:"/deleteFP"},
        { coordinate: new mapkit.Coordinate(27.18815, -80.261425), title: "SFE-SF", url: "/sfdata",  website: "/searchForSiteSF", newData: "/sf", create: "/createSF", delete:"/deleteSF"},
        { coordinate: new mapkit.Coordinate(27.839125, -80.47081944444444), title: "IRL-SB", url: "/sbdata",  website: "/searchForSiteSB", newData: "/sb", create: "/createSB", delete:"/deleteSB"},
        { coordinate: new mapkit.Coordinate(27.21002222222222, -80.269175), title: "SLE-NF", url: "/nfdata",  website: "/searchForSiteNF", newData: "/nf", create: "/createNF", delete:"/deleteNF"},
        { coordinate: new mapkit.Coordinate(27.164975, -80.17184722222223), title: "IRL-SLE", url: "/sledata",  website: "/searchForSiteSLE", newData: "/sle", create: "/createSLE", delete:"/deleteSLE"},
        { coordinate: new mapkit.Coordinate(27.590141666666664, -80.35523888888888), title: "IRL-VB", url: "/vbdata",  website: "/searchForSiteVB", newData: "/vb", create: "/createVB", delete:"/deleteVB"},
        { coordinate: new mapkit.Coordinate(27.208949999999998, -80.24796944444445), title: "SLE-ME", url: "/medata",  website: "/searchForSiteME ", newData: "/me", create: "/createME", delete:"/deleteME"},
        { coordinate: new mapkit.Coordinate(27.224413888888886, -80.20233888888889), title: "IRL-JB", url: "/jbdata",  website: "/searchForSiteJB ", newData: "/jb", create: "/createJB", delete:"/deleteJB"},
        { coordinate: new mapkit.Coordinate(27.114194444444447, -80.28286111111112), title: "SLE-SF2", url: "/sf2data",  website: "/searchForSiteSF2 ", newData: "/sf2", create: "/createSF2", delete:"/deleteSF2"},

    ];

    // Landmark annotation callout delegate
    var CALLOUT_OFFSET = new DOMPoint(-148, -162);
    var landmarkAnnotationCallout = {
        calloutElementForAnnotation: function(annotation) {
            return calloutForLandmarkAnnotation(annotation);
        },

        calloutAnchorOffsetForAnnotation: function(annotation, element) {
            return CALLOUT_OFFSET;
        },

        calloutAppearanceAnimationForAnnotation: function(annotation) {
            return "scale-and-fadein .4s 0 1 normal cubic-bezier(0.4, 0, 0, 1.5)";
        }
    };

    // Landmarks annotations
    var annotations = sanFranciscoLandmarks.map(function(landmark) {
        var annotation = new mapkit.MarkerAnnotation(landmark.coordinate, {
            callout: landmarkAnnotationCallout,
            color: "rgba(0,0,0,0.1)",
        });
        annotation.landmark = landmark;
        return annotation;
    });

    var map = new mapkit.Map("map");
    map.mapType = "hybrid"

    map.showItems(annotations);

    // Landmark annotation custom callout
    function calloutForLandmarkAnnotation(annotation) {
        var div = document.createElement("div");
        div.className = "landmark";

        var title = div.appendChild(document.createElement("h1"));
        title.textContent = annotation.landmark.title;

        var section = div.appendChild(document.createElement("section"));


        var phone = section.appendChild(document.createElement("p"));
        phone.className = "See Data";
        phone.textContent = annotation.landmark.phone;

        var link = section.appendChild(document.createElement("p"));
        link.className = "homepage";

        var a = link.appendChild(document.createElement("a"));
        a.href = annotation.landmark.url;
        a.textContent = "See Data";

        var linkA = a.appendChild(document.createElement("p"));
        link.className = "homepage";

        var a2 = linkA.appendChild(document.createElement("a"));
        a2.href = annotation.landmark.website;
        a2.textContent = "Search";

        var linkA2 = a2.appendChild(document.createElement("p"));
        link.className = "homepage";

        var a3 = linkA2.appendChild(document.createElement("a"));
        a3.href = annotation.landmark.newData;
        a3.textContent = "Analyze New Data";

        var linkA3 = a3.appendChild(document.createElement("p"));
        link.className = "homepage";

        var a4 = linkA3.appendChild(document.createElement("a"));
        a4.href = annotation.landmark.create;
        a4.textContent = "Create Databases";

        var linkA4 = a4.appendChild(document.createElement("p"));
        link.className = "homepage";

        var a5 = linkA4.appendChild(document.createElement("a"));
        a5.href = annotation.landmark.delete;
        a5.textContent = "Delete Databases";


        return div;
    }


    var LPToFP = [ [27.534961111111112, -80.34393888888889],  [27.534030555555557, -80.3294611111111], [27.478105555555555, -80.3154111111111], [27.472616666666664, -80.32313611111111], [27.471055555555555, -80.33005277777778], [27.49836666666667, -80.33826388888889], [27.529766666666667, -80.34627499999999]] ;
    var VBToLP = [ [27.589747222222222, -80.34528333333333], [27.589747222222222, -80.3635861111111], [27.53911111111111, -80.35010277777778], [27.534961111111112, -80.34393888888889],  [27.534030555555557, -80.3294611111111], [27.568716666666667, -80.33851944444444], [27.57465277777778, -80.33757222222222]] ;
    var SBToVBChunk1 = [ [27.589747222222222, -80.34528333333333], [27.589747222222222, -80.3635861111111], [27.594324999999998, -80.36371666666666], [27.604625000000002, -80.36639722222222],[27.607511111111112, -80.36590277777778], /* highest point */ [27.609380555555557, -80.35171666666666], [27.604816666666668,-80.34711944444444]] ;
    var SBToVBChunk2 = [ [27.607511111111112, -80.36590277777778], /* highest point */ [27.609380555555557, -80.35171666666666], [27.615347222222223, -80.35359722222222],[27.617775, -80.35345833333332],[27.63163888888889,-80.36373333333333], [27.63198611111111, -80.37434444444443], [27.619947222222223, -80.37347222222222]] ;
    var SBToVBChunk3 = [[27.63163888888889,-80.36373333333333], [27.63198611111111, -80.37434444444443], [27.646069444444443, -80.37573888888888], /* highest*/ [27.651991666666664, -80.37527777777777], [27.652794444444442, -80.37113055555555], [27.64559722222222, -80.36892222222221], [27.64086111111111, -80.3654611111111], ]
    var SBToVBChunk4 = [ [27.657438888888887, -80.37709444444444],[27.651991666666664, -80.37527777777777],  [27.652794444444442, -80.37113055555555],[27.667302777777778, -80.37033888888888], /* begin high R to L*/[27.67407777777778, -80.36717222222221], [27.67426111111111, -80.38567777777779], /*end high*/ ]
    var SBToVBChunk5 = [ [27.67407777777778, -80.36717222222221], [27.67426111111111, -80.38567777777779], [27.697533333333332, -80.3952888888889],/*high L*/ [27.725952777777778, -80.41255833333334], /*high R*/ [27.72433333333333,-80.39834166666667], [27.678330555555558, -80.38182499999999], [27.679566666666666, -80.37155] ]
    var SBToVBChunk6 = [ [27.725952777777778, -80.41255833333334], [27.72433333333333,-80.39834166666667], [27.747569444444444, -80.41421111111111], [27.7537, -80.4116638888889], [27.753197222222223, -80.41731666666666],/*r*/[27.757136111111112, -80.41998055555555], /*l*/[27.752636111111112, -80.427525] ]
    //rL
    var SBToVBChunk7 = [ [27.757136111111112, -80.41998055555555], [27.752636111111112, -80.427525],  [27.839038888888886, -80.47739444444444], [27.84454722222222, -80.44378888888889], [27.82368888888889, -80.43234166666667], [27.803783333333335, -80.44655555555556], [27.794883333333335, -80.42430833333334]  ]
    var FPToJBChunk1 = [ [27.471055555555555, -80.33005277777778], [27.472616666666664, -80.32313611111111],   [27.475158333333333, -80.31356111111111],[27.459677777777777, -80.31749166666667], [27.457105555555554, -80.32121944444444], [27.463255555555556, -80.32169722222221], [27.466375, -80.32315833333332]]
    //RL
    var FPToJBChunk2 = [[27.459677777777777, -80.31749166666667],[27.457105555555554, -80.32121944444444],[27.454833333333333, -80.32273055555555],[27.445216666666667, -80.3209611111111], [27.444266666666667, -80.2966111111111],[27.44863888888889, -80.29351944444444],[27.4481083333, -80.2910694444],[27.457611, -80.2916]]
    var FPToJBChunk3 = [[27.445216666666667, -80.3209611111111], [27.444266666666667, -80.2966111111111], [27.43507222222222, -80.29743333333333], [27.432, -80.296517], [27.428156, -80.2911722], [27.425, -80.31394444444445]]
    var FPToJBChunk4 = [[27.428156, -80.2911722],[27.425, -80.31394444444445],[27.395622, -80.3012361],[27.400855555555555, -80.27478055555555], [27.41751388888889, -80.2799722223],[27.4252, -80.28264444444444],[27.4272833, -80.2806389],[27.42999166, -80.28451666666666]]
    var FPToJBChunk5 = [ [27.395622, -80.3012361], [27.4008555, -80.274780555], [27.398794444444444, -80.26741676], [27.39558611, -80.264102778], [27.378683, -80.26171667], [27.37614446, -80.2590222223], [27.368533333333335, -80.28860277777778]]
    var FPToJBChunk6 = [ [27.37614446, -80.2590222223], [27.368533333333335, -80.28860277777778], [27.351861111111113, -80.27998611111111], [27.356333333333335, -80.26022222222223]]
    var FPToJBChunk7 = [ [27.3518611, -80.279986111], [27.356333333333335, -80.26022222222223], [27.337302777777776, -80.24841944444445], [27.338763888888888, -80.23752777777779], [27.328575, -80.2361638888889], [27.321619444444444, -80.26508888888888]]
    var FPToJBChunk8 = [ [27.328575, -80.2361638888889], [27.321619444444444, -80.26508888888888], [27.271102777777777, -80.23905833333333],[27.278352777777776, -80.21533055555555], [27.291316666666667, -80.22903611111111], [27.308330555555557, -80.22373055555556]]
    var FPToJBChunk9 = [[27.271102777777777, -80.23905833333333],[27.278352777777776, -80.21533055555555], [27.222724999999997, -80.18642777777778], [27.222724999999997, -80.20969444444445]]
    var JBToSLE = [ [27.222724999999997, -80.18642777777778], [27.222724999999997, -80.20969444444445], [27.21792222222222, -80.20853611111112], [27.188033333333333, -80.19035000000001], [27.194430555555556, -80.1643138888889], [27.209863888888886, -80.18566111111112] ]
    var JBToSLEChunk2 = [[27.1880333, -80.19035],[27.1944305556, -80.1643138888889],[27.18646389, -80.1617083333],[27.181108333, -80.17059167],[27.17586111111111,-80.17080277777778],[27.16688611111111, -80.16613055555555],[27.164616666, -80.1918334],[27.176183333333334, -80.185952778]]
    var leftOfME = [[27.2149166667, -80.232825],[27.205438889, -80.226486111],[27.2006277778,-80.2333638889],[27.2027222, -80.2412777788],[27.199119444444445, -80.246825],[27.21528056, -80.24810],[27.2139, -80.2431],[27.21588056, -80.2366112]]
    // ME TRianh;e [27.199119444444445, -80.246825],[27.21528056, -80.24810]Bottom top
    //LR
    var topOfNF = [[27.206141666666667,-80.26933611111112],[27.212788888888888,-80.26868888888889], [27.2151, -80.27828611111111], [27.221977777777777, -80.27987222222222], [27.21938611111111, -80.28860833333333], [27.205502777777777,-80.28299722222222]]
    //LR
    var aroundSF =[[27.196419444444444, -80.26559444444445],[27.193269444444443,-80.2624111111111],[27.18823888888889,-80.26120555555555],[27.182894444444447,-80.26093055555556], [27.17855, -80.2601138888889], [27.17761388888889, -80.26602222222222], [27.185305555555555, -80.26735555555555], [27.190380555555556, -80.27108055555556] ]
    var SFToNF = [[27.196419444444444, -80.26559444444445],[27.193269444444443,-80.2624111111111],[27.19935277777778, -80.2587861111111], [27.210430555555554, -80.25965],[27.201744444444444, -80.26181111111111], [27.210105555555554, -80.26516666666667], [27.212788888888888,-80.26868888888889], [27.206141666666667,-80.26933611111112], ]
    // botom top [27.19935277777778, -80.2587861111111], [27.210430555555554, -80.25965],

    var METoBorder = [[27.199119444444445, -80.246825],[27.21528056, -80.24810],[27.21488611111111, -80.2561277777777], [27.210430555555554, -80.25965], [27.19935277777778, -80.2587861111111],[27.202841666666664, -80.25748055555556] ]
    var aroundSF2 = [[27.11731944444, -80.2749416667], [27.1180027778, -80.27533333333334],[27.11756388888889, -80.27966388888889], [27.11588888888889, -80.28193888888889],[27.114330555555558, -80.28290555555556],[27.11302778, -80.284658333],[27.112038889, -80.2838388898],[27.116027779,-80.28063 ]]





      function drawOverlay(site, siteStyle, array, color) {
        site = site.map(function(point) {
            return new mapkit.Coordinate(point[0], point[1]);
        });
        array.push(site)
        var siteStyle = new mapkit.Style({
          strokeColor: 'purple',
          strokeOpacity: .7,
          lineWidth: 0,
          fillColor:color,
          fillOpacity: .6,
          lineJoin: "round",
          lineDash: [2, 2, 6, 2, 6, 2]
        });
        array.push(siteStyle)
        return(array)
      }

      var LPToFPcolor = $("#LPToFPcolor").html();
      var LPToFParray = []
      var LPToFPstyle
      var finalLPToFParray = drawOverlay(LPToFP, LPToFPstyle, LPToFParray, LPToFPcolor);

      var VBToLPcolor = $("#VBToLPcolor").html();
      var VBToLParray = []
      var VBToLPstyle
      var finalVBToLParray = drawOverlay(VBToLP, VBToLPstyle, VBToLParray, VBToLPcolor);

      var SBToVBChunk1color = $("#SBToVBChunk1").html();
      var SBToVBarray = []
      var SBToVBstyle
      var finalSBToVBarray = drawOverlay(SBToVBChunk1, SBToVBstyle, SBToVBarray, SBToVBChunk1color);

      var SBToVBChunk2color = $("#SBToVBChunk1").html();
      var SBToVBarrayChunk2 = []
      var SBToVBstyleChunk2
      var finalSBToVBChunk2array = drawOverlay(SBToVBChunk2, SBToVBstyleChunk2, SBToVBarrayChunk2, SBToVBChunk2color);

      var SBToVBChunk3color = $("#SBToVBChunk1").html();
      var SBToVBarrayChunk3 = []
      var SBToVBstyleChunk3
      var finalSBToVBChunk3array = drawOverlay(SBToVBChunk3, SBToVBstyleChunk3, SBToVBarrayChunk3, SBToVBChunk3color);

      var SBToVBChunk4color = $("#SBToVBChunk1").html();
      var SBToVBarrayChunk4 = []
      var SBToVBstyleChunk4
      var finalSBToVBChunk4array = drawOverlay(SBToVBChunk4, SBToVBstyleChunk4, SBToVBarrayChunk4, SBToVBChunk4color);

      var SBToVBChunk5color = $("#SBToVBChunk1").html();
      var SBToVBarrayChunk5 = []
      var SBToVBstyleChunk5
      var finalSBToVBChunk5array = drawOverlay(SBToVBChunk5, SBToVBstyleChunk5, SBToVBarrayChunk5, SBToVBChunk5color);

      var SBToVBChunk6color = $("#SBToVBChunk1").html();
      var SBToVBarrayChunk6 = []
      var SBToVBstyleChunk6
      var finalSBToVBChunk6array = drawOverlay(SBToVBChunk6, SBToVBstyleChunk6, SBToVBarrayChunk6, SBToVBChunk6color);

      var SBToVBChunk7color = $("#SBToVBChunk1").html();
      var SBToVBarrayChunk7 = []
      var SBToVBstyleChunk7
      var finalSBToVBChunk7array = drawOverlay(SBToVBChunk7, SBToVBstyleChunk7, SBToVBarrayChunk7,SBToVBChunk7color);

      var FPToJBcolor = $("#FPToJBcolor").html();
      var FPToJBarrayChunk1 = []
      var FPToJBstyleChunk1
      var finalFPToJBChunk1array = drawOverlay(FPToJBChunk1, FPToJBstyleChunk1, FPToJBarrayChunk1, FPToJBcolor);

      var FPToJBarrayChunk2 = []
      var FPToJBstyleChunk2
      var finalFPToJBChunk2array = drawOverlay(FPToJBChunk2, FPToJBstyleChunk2, FPToJBarrayChunk2, FPToJBcolor);

      var FPToJBarrayChunk3 = []
      var FPToJBstyleChunk3
      var finalFPToJBChunk3array = drawOverlay(FPToJBChunk3, FPToJBstyleChunk3, FPToJBarrayChunk3, FPToJBcolor);

      var FPToJBarrayChunk4 = []
      var FPToJBstyleChunk4
      var finalFPToJBChunk4array = drawOverlay(FPToJBChunk4, FPToJBstyleChunk4, FPToJBarrayChunk4, FPToJBcolor);

      var FPToJBarrayChunk5 = []
      var FPToJBstyleChunk5
      var finalFPToJBChunk5array = drawOverlay(FPToJBChunk5, FPToJBstyleChunk5, FPToJBarrayChunk5, FPToJBcolor);

      var FPToJBarrayChunk6 = []
      var FPToJBstyleChunk6
      var finalFPToJBChunk6array = drawOverlay(FPToJBChunk6, FPToJBstyleChunk6, FPToJBarrayChunk6, FPToJBcolor);

      var FPToJBarrayChunk7 = []
      var FPToJBstyleChunk7
      var finalFPToJBChunk7array = drawOverlay(FPToJBChunk7, FPToJBstyleChunk7, FPToJBarrayChunk7, FPToJBcolor);

      var FPToJBarrayChunk8 = []
      var FPToJBstyleChunk8
      var finalFPToJBChunk8array = drawOverlay(FPToJBChunk8, FPToJBstyleChunk8, FPToJBarrayChunk8, FPToJBcolor);

      var FPToJBarrayChunk9 = []
      var FPToJBstyleChunk9
      var finalFPToJBChunk9array = drawOverlay(FPToJBChunk9, FPToJBstyleChunk9, FPToJBarrayChunk9, FPToJBcolor);

      var JBToSLEcolor = $("#JBToSLEcolor").html();
      var JBToSLEarray = []
      var JBToSLEstyle
      var finalJBToSLEarray = drawOverlay(JBToSLE, JBToSLEstyle, JBToSLEarray, JBToSLEcolor);

      var JBToSLEarrayChunk2 = []
      var JBToSLEstyleChunk2
      var finalJBToSLEarrayChunk2 = drawOverlay(JBToSLEChunk2, JBToSLEstyleChunk2, JBToSLEarrayChunk2, JBToSLEcolor);

      var leftOfMEcolor = $("#leftOfMEcolor").html();
      var leftOfMEarray = []
      var leftOfMEstyle
      var finalleftOfMEarray = drawOverlay(leftOfME, leftOfMEstyle, leftOfMEarray, leftOfMEcolor);

      var topOfNFcolor = $("#topOfNFcolor").html();
      var topOfNFarray = []
      var topOfNFstyle
      var finaltopOfNFarray = drawOverlay(topOfNF, topOfNFstyle, topOfNFarray, topOfNFcolor);

      var aroundSFcolor = $("#aroundSFcolor").html();
      var aroundSFarray = []
      var aroundSFstyle
      var finalaroundSFarray = drawOverlay(aroundSF, aroundSFstyle, aroundSFarray, aroundSFcolor);

      var SFToNFcolor =$("#SFToNFcolor").html();
      var SFToNFarray = []
      var SFToNFstyle
      var finalSFToNFarray = drawOverlay(SFToNF, SFToNFstyle, SFToNFarray, SFToNFcolor);

      var METoBordercolor =$("#METoBordercolor").html();
      var METoBorderarray = []
      var METoBorderstyle
      var finalMEToBorderarray = drawOverlay(METoBorder, METoBorderstyle, METoBorderarray, METoBordercolor);

      var aroundSF2color = $("#aroundSF2color").html();
      var aroundSF2array = []
      var aroundSF2style
      var finalaroundSF2array = drawOverlay(aroundSF2, aroundSF2style, aroundSF2array, aroundSF2color);

      var LPToFPrectangle = new mapkit.PolygonOverlay([finalLPToFParray[0]], { style: finalLPToFParray[1] });
      var VBToLPrectangle = new mapkit.PolygonOverlay([finalVBToLParray[0]], { style: finalVBToLParray[1] });
      var SBToVBChunk1rectangle = new mapkit.PolygonOverlay([finalSBToVBarray[0]], { style: finalSBToVBarray[1] });
      var SBToVBChunk2rectangle = new mapkit.PolygonOverlay([finalSBToVBChunk2array[0]], { style: finalSBToVBChunk2array[1] });
      var SBToVBChunk3rectangle = new mapkit.PolygonOverlay([finalSBToVBChunk3array[0]], { style: finalSBToVBChunk3array[1] });
      var SBToVBChunk4rectangle = new mapkit.PolygonOverlay([finalSBToVBChunk4array[0]], { style: finalSBToVBChunk4array[1] });
      var SBToVBChunk5rectangle = new mapkit.PolygonOverlay([finalSBToVBChunk5array[0]], { style: finalSBToVBChunk5array[1] });
      var SBToVBChunk6rectangle = new mapkit.PolygonOverlay([finalSBToVBChunk6array[0]], { style: finalSBToVBChunk6array[1] });
      var SBToVBChunk7rectangle = new mapkit.PolygonOverlay([finalSBToVBChunk7array[0]], { style: finalSBToVBChunk7array[1] });
      var FPToJBChunk1rectangle = new mapkit.PolygonOverlay([finalFPToJBChunk1array[0]], { style: finalFPToJBChunk1array[1] });
      var FPToJBChunk2rectangle = new mapkit.PolygonOverlay([finalFPToJBChunk2array[0]], { style: finalFPToJBChunk2array[1] });
      var FPToJBChunk3rectangle = new mapkit.PolygonOverlay([finalFPToJBChunk3array[0]], { style: finalFPToJBChunk3array[1] });
      var FPToJBChunk4rectangle = new mapkit.PolygonOverlay([finalFPToJBChunk4array[0]], { style: finalFPToJBChunk4array[1] });
      var FPToJBChunk5rectangle = new mapkit.PolygonOverlay([finalFPToJBChunk5array[0]], { style: finalFPToJBChunk5array[1] });
      var FPToJBChunk6rectangle = new mapkit.PolygonOverlay([finalFPToJBChunk6array[0]], { style: finalFPToJBChunk6array[1] });
      var FPToJBChunk7rectangle = new mapkit.PolygonOverlay([finalFPToJBChunk7array[0]], { style: finalFPToJBChunk7array[1] });
      var FPToJBChunk8rectangle = new mapkit.PolygonOverlay([finalFPToJBChunk8array[0]], { style: finalFPToJBChunk8array[1] });
      var FPToJBChunk9rectangle = new mapkit.PolygonOverlay([finalFPToJBChunk9array[0]], { style: finalFPToJBChunk9array[1] });
      var JBToSLErectangle = new mapkit.PolygonOverlay([finalJBToSLEarray[0]], { style: finalJBToSLEarray[1] });
      var JBToSLEChunk2rectangle = new mapkit.PolygonOverlay([finalJBToSLEarrayChunk2[0]], { style: finalJBToSLEarrayChunk2[1] });
      var leftOfMErectangle = new mapkit.PolygonOverlay([finalleftOfMEarray[0]], { style: finalleftOfMEarray[1] });
      var topOfNFrectangle = new mapkit.PolygonOverlay([finaltopOfNFarray[0]], { style: finaltopOfNFarray[1] });
      var aroundSFrectangle = new mapkit.PolygonOverlay([finalaroundSFarray[0]], { style: finalaroundSFarray[1] });
      var SFToNFrectangle = new mapkit.PolygonOverlay([finalSFToNFarray[0]], { style: finalSFToNFarray[1] });
      var aroundSF2rectangle = new mapkit.PolygonOverlay([finalaroundSF2array[0]], { style: finalaroundSF2array[1] });
      //
      var METoBorderrectangle = new mapkit.PolygonOverlay([finalMEToBorderarray[0]], { style: finalMEToBorderarray[1] });




      map.addOverlay(LPToFPrectangle);
      map.addOverlay(VBToLPrectangle);
      map.addOverlay(SBToVBChunk1rectangle);
      map.addOverlay(SBToVBChunk2rectangle);
      map.addOverlay(SBToVBChunk3rectangle);
      map.addOverlay(SBToVBChunk4rectangle);
      map.addOverlay(SBToVBChunk5rectangle);
      map.addOverlay(SBToVBChunk6rectangle);
      map.addOverlay(SBToVBChunk7rectangle);
      map.addOverlay(FPToJBChunk1rectangle);
      map.addOverlay(FPToJBChunk2rectangle);
      map.addOverlay(FPToJBChunk3rectangle);
      map.addOverlay(FPToJBChunk4rectangle);
      map.addOverlay(FPToJBChunk5rectangle);
      map.addOverlay(FPToJBChunk6rectangle);
      map.addOverlay(FPToJBChunk7rectangle);
      map.addOverlay(FPToJBChunk8rectangle);
      map.addOverlay(FPToJBChunk9rectangle);
      map.addOverlay(JBToSLErectangle);
      map.addOverlay(JBToSLEChunk2rectangle);
      map.addOverlay(leftOfMErectangle);
      map.addOverlay(topOfNFrectangle);
      map.addOverlay(aroundSFrectangle);
      map.addOverlay(aroundSF2rectangle);
      map.addOverlay(SFToNFrectangle);
      map.addOverlay(METoBorderrectangle);














      // function createOverLay (coordinate )


    </script>


    <script type="text/javascript" src = "/assets/moreInfoOverlays.js">

    </script>


  </body>
</html>
